@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.node{
  display: flex;
  justify-content:center;
  align-items:center;
  z-index: 100;
  color: theme('colors.white');
  border-radius:50%;
  border-color: theme('colors.orange-light');
  border-width: 5px; 
  height: 10rem;
  width: 10rem;
  background-color: theme('colors.orange');
}

}

@layer components{
  .line{
    border-color: theme('colors.orange-light');
    border-width: 5px; 
    height: 1.2rem;
    width: 8rem;
    background-color: theme('colors.orange');
  }
}

@layer components{
  .inner{
    height: 1rem;
    width: 0.1rem;
    background-color: theme('colors.orange-light');
  }
}

@layer components{
  .element{
    display: flex;
    justify-content:center;
    align-items:center;
    border-color: theme('colors.orange-light');
    border-width: 5px; 
    height: 10rem;
    width: 10rem;
    background-color: theme('colors.orange');
  }
}